@media screen and (max-width:1024px){
    .heading-title p {
        width: 75%;
        margin: 0 auto;
    }
    h5 {
        font-size: 28px;
        font-weight: 500;
    }

}
@media screen and (max-width:980px){
    section{
        padding: 70px 0px;
    }
    .header-info h1 {
        margin-top: 100px;
        font-size: 50px;
        font-weight: 600;
        text-align: justify;
    }
    .service-video-2 {
        width: 180px;
        height: 150px;
        left: -12px;
        bottom: -17px;
       
    }
    .service-video {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 370px;
       
    }
    h2 {
        font-size: 34px;
    }
    p {
       
        font-size: 18px;
    }
    .heading-title h3 {
        font-size: 35px;
      
    }
    .heading-title p {
        font-size: 18px;
    }
    h5{
        font-size: 17px;
        font-weight: 500;
        text-align: left;
    }
    .other-service-video-2 {
        right: -15px;
        bottom: -28px;
    }
    .my-links{
        justify-content: space-between;
        ;
    }
    .my-links a{
        font-size: 20px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        text-align: center;
    }

    .counter-card i {
        font-size: 55px;
    }
    .counter-card span, .counter-card h4 {
        font-size: 37px;
    }
    .treatment-body h5 {
        font-size: 18px;
        
    }
    span {
        font-size: 14px;
    }
    .treatment-body p {
        font-size: 15px;
    }
    .treatment-body a {
        font-size: 17px;
    }
    /* .text-right {
        margin-top: 20px;
    } */
    #footer {
        padding: 80px 0px;

    }
    .top-btn-2 input {
        padding: 17px 20px;
        font-size: 20px;
    }
    .footer-social-link {
        margin-top: 30px;
    }
    .footer-social-link a {
        font-size: 30px;
    }
    .footer-social-link a {

        width: 44px;
        height: 44px;
    }

}
@media screen and (max-width:600px){
    .header-info h1 {  
        font-size: 40px;
        text-align: left;
    }
    .header-btn{
        display: flex;
        flex-direction: column; 

    }
    .header-info p {
        font-size:20px;
    }
    .img-fluid{
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }
    .service-info{
        margin: 20px 0px;
    }
    .join{
        text-align: center;
        margin-top: 20px;
    }
  
}
@media screen and (max-width:400px){
    .btn {
        
        width: 50%;
        margin-top: 15px;
        margin-left: 22px;
    }
    .counter-card span, .counter-card h4 {

        font-size: 20px;

    }

}